.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.8/taskHistory/taskHistory.lock
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
.idea/workspace.xml
.idea/vcs.xml
.gradle/4.8/taskHistory/taskHistory.bin
.gradle/4.8/fileHashes/fileHashes.lock
.gradle/4.8/fileHashes/fileHashes.bin
.gradle/4.8/fileChanges/last-build.bin
settings.gradle
gradlew.bat
gradlew
.idea/misc.xml
.idea/gradle.xml
.idea/.name
.gradle/vcsWorkingDirs/gc.properties
